<h1>Add A New Picture</h1>

<!-- <a href="http://localhost:3000/pictures">Back</a> -->
<%= link_to "Back", "http://localhost:3000/pictures" %>

<%= form_tag("/pictures", :method => :post) do %>
  <!-- <label for="pic_source">Image URL:</label> -->
  <%= label_tag :source, "Image URL:" %>

  <!-- <input id="source" type="text" name="source"> -->
  <%= text_field_tag :source %>

  <!-- <label for="caption">Caption:</label> -->
  <%= label_tag :caption %>

  <!-- <input id="caption" type="text" name="caption"> -->
  <%= text_field_tag :caption %>

  <!-- <label for="favorite">Favorite?</label> -->
  <%= label_tag :favorite %>

  <!-- <input id="favorite" type="checkbox" name="favorite"> -->
  <%= check_box_tag :favorite %>

  <!-- <input type="submit" name="submit"> -->
  <%= submit_tag "Create Picture" %>
<% end %>
