<!DOCTYPE html>
<html>
<head>
  <title>Rxngif</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Home", pictures_url %> |
    <%= link_to "Add New", "http://localhost:3000/pictures/new" %>
  </nav>
<%= yield %>

</body>
</html>
